/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wp-library-book-search-admin-page {
	padding-right: 15px;
}
#wp-library-book-search-admin-page h1 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 5px 0 5px;
	line-height: 30px;
}
#wp-library-book-search-admin-page img {
	height: auto;
	max-width: 100%;
}
#wp-library-book-search-admin-page a {
	text-decoration: none;
}
.lbs_book_price_wrap,
.lbs_book_rating_wrap {
	padding: 10px 0px;
}
.lbs_book_price_wrap label,
.lbs_book_rating_wrap label {
	width: 20%;
	display: inline-block;
}